:root {
  /* --background-color: #333333; */
  --background-color: #212121;
  --primary-text-color: #ffffff;
  --primary-color: #00b3ff;
}

body {
  font-family: "Roboto", sans-serif;
  background: var(--background-color);
  margin: 0;
}

h1,
h3 {
  color: var(--primary-text-color);
}

h1.heading-lg {
  font-size: 5rem;
  letter-spacing: 0.5rem;

  margin: 0;
}
h3.heading-sm {
  font-size: 2rem;

  margin: 1.25rem;
  padding: 0.5rem 0.5rem;
}

a {
  color: var(--primary-text-color);
  text-decoration: none;
}

.menu-btn {
  position: absolute;
  top: 30px;
  left: 30px;
  cursor: pointer;
  transition: all 0.25s ease-out;
  z-index: 3;
}
.menu-btn.close {
  transform: rotate(90deg);
}
.menu-btn.close .btn-line:nth-child(1) {
  transform: rotate(45deg) translate(6px, 5px);
}
.menu-btn.close .btn-line:nth-child(2) {
  visibility: hidden;
}
.menu-btn.close .btn-line:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -5px);
}
.menu-btn .btn-line {
  background: #ffffff;
  margin: 0 0 5px 0;
  width: 25px;
  height: 3px;
}

.menu {
  visibility: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.98;
}
.menu.show {
  visibility: visible;
}
.menu-picture,
.menu-nav {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  float: left;
  width: 50%;
  height: 100vh;
  overflow: hidden;
}
.menu-nav {
  margin: 0;
  padding: 0;
  background: black;
  list-style: none;
  transform: translate3d(0, -100%, 0);
  transition: all 0.5s ease-out;
}
.menu-nav.show {
  /* visibility: visible; */
  transform: translate3d(0, 0, 0);
}
.menu-picture {
  background: #0a0a0a;
  transform: translate3d(0, 100%, 0);
  transition: all 0.5s ease-out;
}
.menu-picture.show {
  transform: translate3d(0, 0, 0);
}
.menu-picture .my-picture {
  width: 250px;
  height: 250px;
  background: url("../images/me.jpeg");
  border-radius: 50%;
  border: solid 3px var(--primary-color);
}

.menu .nav-link {
  display: inline-block;
  position: relative;
  font-size: 30px;
  text-transform: uppercase;
  padding: 1rem 0;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  transition: all 0.5s ease-out;
}
.menu .nav-link:hover {
  color: var(--primary-color);
}

main {
  /* border: 1px solid red; */

  padding: 5rem;
  margin-top: 20vh;
}

main .icons {
  margin: 1.25rem;
}

main .icons a {
  padding: 0.75rem;
}

main .icons a:hover {
  color: var(--primary-color);
  transition: all 0.5s ease-out;
}

.text-secondary {
  color: var(--primary-color);
}
