:root {
  --background-color: #333333;
  --primary-text-color: #ffffff;
  --secondary-text-color: #00b3ff;
}

body {
  font-family: "Roboto", sans-serif;
  background: var(--background-color);
}

h1,
h3 {
  color: var(--primary-text-color);
}

a {
  color: var(--primary-text-color);
  text-decoration: none;
}

main .icons a:hover {
  color: var(--secondary-text-color);
}

.text-secondary {
  color: var(--secondary-text-color);
}
