body {
  font-family: "Roboto", sans-serif;
  /* background: #0a0a0a; */
  /* background: #4d4d4d; */
  background: #333333;
}

h1,
h3 {
  color: #ffffff;
}

a {
  color: #ffffff;
  text-decoration: none;
}

h1.heading-lg {
  /* color: blue; */
}

.text-secondary {
  /* color: lightblue; */
  color: #00b3ff;
}
